/*
Angie Tracy
Dr. Payne
CSD 440-311A
Server Side Scripting
2023/09/24
Module 10 Programming Assignment

This file creates the Body, Footer, and scrollbar CSS for all pages
*/


   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html, body{
        height: 100%; margin: 0 0 0 0; padding: 0 0 0 0;
        width: 100%;
    }

    body{
      font-family: Oswald, Verdana, Arial, sans-serif;
      background-color:lightsteelblue;      
      background-image: url(http://localhost/Softball_Pitchers_DB/blue_background.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
      overflow-y: auto;
      overflow-x: auto;
      height: 100%;
    }
    
    ::-webkit-scrollbar{
    background: slategray;
    }

    ::-webkit-scrollbar-thumb{
        background-color: darkblue;
        border-radius: 20px;
        border: 3px solid aliceblue;
    }

    
    .image-text-container a{
        color: white;
    }

    li{
        padding: 5px;
    }
  
    .text-line {
        margin: 0;
        line-height: 1.2;
    }

    h3{
      text-align: center;
      text-decoration: underline;
      font-size: 34px;
    }

    div{
      padding: 2px;
    }

    .main{
      margin-top: 80px;
      margin-left: 10px;
    }

    .column{
      margin-top: 80px;
    }

    .row::after{
      content: "";
      display: table;
      clear: both;
    }

    @media screen and (max-width: 768px) {
      .img-col, .table-col{
       width: 100%;
      }
      .image-text-container{
        width: 100%;
        margin-left: 10px;
      }
      body{
        background-image: none;
      }
      .main{
        margin-top: 80px;
      }
      img{
        display: none;
      }
    }

    .img-col{
      width:  40%;
      float: left;
      padding: 30px;
      
    }

    .table-col{
      position: relative;
      width:  60%;
      float: left;
      padding: 30px;

    }

    .clearfix::after{
      content: "";
      clear: both;
      display: table;
    }

    .scroll{
      overflow-x: auto;
      overflow-y: hidden;
    }

    .options{
      background-color: lightgray; 
      max-width: 800px;       
      border: 2px solid steelblue; 
    }

    .messages{
      position: relative;
      top: -100px;
      left: 50%;
      background-image: linear-gradient(deepskyblue, white);
      text-align: center;
      font-size: 20px;
      color: darkblue;
      height: fit-content;
      padding: 10px;
      width: fit-content;
      border: darkblue;
      border-radius: 4px;
      z-index: 5;
    }

    .errorMessage{
      position: fixed;
      top: 100px;
      left: -250px;
      background-image: linear-gradient(deepskyblue, white);
      text-align: center;
      font-size:large;
      color: darkblue;
      height: fit-content;
      padding: 10px;
      max-width: 600px;
      border: darkblue;
      z-index: 5;
    }

    .sort-container {
      position: relative;
      top: 10%;
      left: 200px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      margin: auto;
      width: 400px;
      height: fit-content;
      background-color: deepskyblue;
      padding: 30px;
      border: 2px solid steelblue;
      border-radius: 4px;
  }

  .overlay2{
    position: absolute;
        width: 100%;
    }
 
    footer{
      background-color: deepskyblue;
      border: 1px solid darkblue;
      color: white;
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      z-index: 15;
    }

    footer p{
      color: white;
      font-weight: 400;
      text-align: left;
      font-style: italic;
    }

    footer a{
      text-decoration-line: none;
      color: white;
    }

    footer a:hover{
      text-decoration-line:underline;
    }
  